/* Oktawian Mazurek 2K1 */

        h1 {
            width: 400pt;
            height: 2.7cm;
            background: rgb(255, 255, 153);
            border-top: double 3px #800000;
            border-bottom: double 3px #800080;
            border-left: double 3px #FFFF00;
            border-right: double 3px #800000;
            font-size: 10pt;
            margin: 10px auto;
            padding: 10px;
        }

        h2 {
            width: 200pt;
            height: 3.5cm;
            background: rgb(255, 255, 153);
            border: groove 3px #808080;
            font-size: 10pt;
            margin: 10px auto;
            padding: 10px;
        }

h3 {
    width: 300pt;
    height: 4cm;
    background: rgb(255, 255, 153);
    border: ridge 3px #800080;
    font-size: 10pt;
    margin: 10px auto;
    padding: 10px;
}