/* Oktawian Mazurek 2K1 */

h3 {
    width: 300pt;
    height: 4cm;
    background: rgb(255, 255, 153);
    border: ridge 3px #800080;
    font-size: 10pt;
    margin: 10px auto;
    padding: 10px;
}
