/* Kowalski_z23.css */

p#pogrubienie_kowalski {
    font-size: 25px;
    color: #7D322C; /* obliczony kolor */
}

p#pochylona_kowalski {
    font-size: 30pt;
    color: #E17D64; /* obliczony kolor */
}

p#index_gorny_kowalski {
    font-size: 1cm;
    color: #91F43D; /* obliczony kolor */
}

p#index_dolny_kowalski {
    font-size: 1.5cm;
    color: #2DD9D2; /* obliczony kolor */
}

p#mono_kowalski {
    font-size: 35px;
    color: #11098C; /* obliczony kolor */
}

p#powiekszenie_kowalski {
    color: #3C14E1; /* obliczony kolor */
}

p#pomniejszenie_kowalski {
    font-size: 12px;
    color: #D57032; /* obliczony kolor */
}
