/* mazurek_z23.css */

p#pogrubienie_mazurek {
    font-size: 25px;
    color: #7D322C; 
}

p#pochylona_mazurek {
    font-size: 30pt;
    color: #E17D64; 
}

p#index_gorny_mazurek {
    font-size: 1cm;
    color: #91F43D; 
}

p#index_dolny_mazurek {
    font-size: 1.5cm;
    color: #2DD9D2; 
}

p#mono_mazurek {
    font-size: 35px;
    color: #11098C; 
}

p#powiekszenie_mazurek {
    color: #3C14E1; 
}

p#pomniejszenie_mazurek {
    font-size: 12px;
    color: #D57032; 
}
